<div
  *ngIf="todos?.length"
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4"
>
  <div *ngFor="let todo of todos" class="flex justify-center">
    <div
      [ngClass]="{
        'bg-orange-500': todo.isComplete,
        'bg-orange-200': !todo.isComplete
      }"
      class="flex-shrink-0 m-6 relative overflow-hidden rounded-lg max-w-xs shadow-lg"
      (click)="onComplete(todo.id)"
    >
      <svg
        class="absolute bottom-0 left-0 mb-8"
        *ngIf="!todo.isComplete"
        viewBox="0 0 375 283"
        fill="none"
        style="transform: scale(1.5); opacity: 0.1"
      >
        <rect
          x="159.52"
          y="175"
          width="152"
          height="152"
          rx="8"
          transform="rotate(-45 159.52 175)"
          fill="white"
        />
        <rect
          y="107.48"
          width="152"
          height="152"
          rx="8"
          transform="rotate(-45 0 107.48)"
          fill="white"
        />
      </svg>
      <svg
        *ngIf="todo.isComplete"
        class="absolute bottom-5 left-8"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
        style="transform: scale(7); opacity: 0.1"
      >
        <path
          d="M5.5 12.5L9 16L19 6"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <div class="relative w-96 flex">
        <div class="relative text-white px-6 pb-6 mt-6 w-full">
          <div class="flex w-full">
            <span
              [ngClass]="{
                'text-white': todo.isComplete,
                'text-black': !todo.isComplete
              }"
              class="block font-semibold text-xl w-full"
              >{{ todo.title }}</span
            >
            <button (click)="onDelete(todo.id)">
              <span
                class="bg-white ml-5 rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none mr-24"
              >
                <fa-icon [icon]="icon"></fa-icon>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!todos?.length" class="msg overflow-y-hidden overflow-x-hidden">
  <div class="flex items-center justify-center px-16" style="height: 80vh;">
    <div class="relative w-full max-w-lg">
      <div
        class="absolute top-0 -left-4 w-72 h-72 bg-orange-400 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob"
      ></div>
      <div
        class="absolute top-0 -right-4 w-72 h-72 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000"
      ></div>
      <div
        class="absolute -bottom-32 left-20 w-72 h-72 bg-red-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000"
      ></div>
      <div class="m-8 relative space-y-4">
        <div
          class="p-5 rounded-lg flex items-center justify-between space-x-8"
        ></div>
        <div
          class="p-5 rounded-lg flex items-center justify-between space-x-8"
        ></div>
        <p class="text-2xl text-center">
          There appears to be no todos. <br />
          Add some to get started
        </p>
        <div
          class="p-5 rounded-lg flex items-center justify-between space-x-8"
        ></div>
      </div>
    </div>
  </div>
</div>
