<!-- <app-header></app-header> -->
<!-- <div>
  <div class="flex justify-center mt-10">
    <div class="justify-center">
      <app-input></app-input>
    </div>
  </div>
</div> -->
<app-input></app-input>
<div
  class="text-orange-500 flex hover:text-orange-700 w-48 cursor-pointer"
  style="margin-left: 78%"
>
  <div (click)="onClearCompleted()">
    <fa-icon [icon]="icon"></fa-icon>
  </div>
  <div class="ml-3">
    <app-button
      [buttonText]="'Clear All Completed'"
      (buttonClicked)="onClearCompleted()"
    ></app-button>
  </div>
</div>
<div class="mt-2">
  <app-todos></app-todos>
</div>
